<ion-view view-title="feed">
  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> 
    <ion-list>
      <ion-item ng-repeat="f in feed" class="item-thumbnail-left">
        <img src="img/{{f.type}}.png">
        <h2>{{f.name}}</h2>
        <p><i class="ion-ios-clock-outline"></i> </i>{{f.date}}</p>        
        <p ng-if="f.rate == 0">
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 1 && f.rate < 11">
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 11 && f.rate < 21">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 21 && f.rate < 31">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 31 && f.rate < 41">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 41 && f.rate < 51">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 51 && f.rate < 61">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 61 && f.rate < 71">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 71 && f.rate < 81">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 81 && f.rate < 91">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
        </p>
        <p ng-if="f.rate >= 91 && f.rate < 101">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <p>{{f.comment}}</p>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



<!-- <ion-view view-title="feed">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-earth" ng-click="setFeed('getFeed')"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-people" ng-click="setFeed('getFriendFeed')"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> 
    <ion-list>
      <ion-item ng-repeat="f in feed" class="item-thumbnail-left">
        <img src="img/{{f.type}}.png">
        <h2>{{f.name}}</h2>
        <p><i class="ion-ios-clock-outline"></i> </i>{{f.date}}</p>        
        <p ng-if="f.rate == 0">
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 1 && f.rate < 11">
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 11 && f.rate < 21">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 21 && f.rate < 31">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 31 && f.rate < 41">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 41 && f.rate < 51">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 51 && f.rate < 61">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 61 && f.rate < 71">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 71 && f.rate < 81">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-outline"></i>
        </p>
        <p ng-if="f.rate >= 81 && f.rate < 91">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
        </p>
        <p ng-if="f.rate >= 91 && f.rate < 101">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <p>{{f.comment}}</p>        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->