<ion-view view-title="Friends">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" onsearch="doSearch()" ng-model="searchField.query">
      </label>
    </form>
    <ion-list>
      <ion-item ng-repeat="u in users" can-swipe="listCanSwipe">
        <p style="float:left;">{{u.user_id}}</p>
        <i class="ion-chevron-left" style="float:right;"></i>
        <ion-option-button class="button-balanced" ng-click="addFriend(u)">Follow</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>